th,
.Grey {
    text-align: left;
    color: #BBBBBB;
}

th {
    font-size: 23px;
    font-weight: normal;
    padding: 10px;
    padding-left: 2px;
}

td {
    padding: 5px;
}

table {
    background-color: #595959;
}

.left,
.VertAll {
    color: white;
    font-style: italic;
    padding-left: 2px;
    font-size: 18px;
}

.Yell,
#Parker {
    color: #E0D383;
}

#Red {
    color: #EA0205;
    vertical-align: 0px;
    padding-top: 0px;
}

#Orange {
    color: #E06B1E;
}

.VertAll {
    vertical-align: 0px;
    padding-top: 0px;
}

#Parker {
    padding-bottom: 0px;
}

#Parker::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: #71B47A;
}