html,
body,
div,
h1,
img,
p {
    margin: 0;
    padding: 0;
}

body {
    border: 1px solid black;
    font-family: Constantina, Georgia, 'Nimbus Roman No9 L', serif;
    width: 960px;
    font-size: 16px;
    position: relative;
    border-radius: 15px;
    margin: 25px;
}

h1 {
    padding: 15px;
    padding-bottom: 5px;
}

body #wrapper {
    background: #de28ff;
    background: -moz-linear-gradient(top, #de28ff 0%, #de28ff 15%, #f9dbff 75%, #f9dbff 100%);
    background: -webkit-linear-gradient(top, #de28ff 0%, #de28ff 15%, #f9dbff 75%, #f9dbff 100%);
    background: linear-gradient(to bottom, #de28ff 0%, #de28ff 15%, #f9dbff 75%, #f9dbff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#de28ff', endColorstr='#f9dbff', GradientType=0);
    border-radius: 15px;
}

body #wrapper>div p.postedby {
    display: inline-block;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 10px;
    margin-left: 30px;
}

body #wrapper>div img.left-arrow {
    position: absolute;
    top: 40%;
    left: 0;
}

body #wrapper>div img.right-arrow {
    position: absolute;
    top: 40%;
    right: 0;
}

body #wrapper>div p.info {
    padding: 25px;
    text-align: justify;
}