* {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 960px;
    font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    font-size: 16px;
    margin: 3px;
}

img {
    display: block;
    border-radius: 20px;
    height: 100px;
    width: 120px;
}

ul {
    list-style-type: none;
}

h3 {
    display: block;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 7px;
    color: #fff;
}

ul li {
    display: block;
    float: left;
    margin: 2px;
    border: 20px solid #808080;
    padding: 0 30px;
    background: #727272;
    background: -moz-linear-gradient(top, #727272 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #727272 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #727272 0%, #ffffff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#727272', endColorstr='#ffffff', GradientType=0);
}

.click-here {
    text-decoration: none;
    display: none;
    text-transform: uppercase;
}

.subtitle {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

li:hover .click-here {
    display: block;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 15px;
}

li:hover .subtitle {
    display: none;
}

li:hover {
    background: #808080;
    border-color: #454545;
    padding: 0 20px;
}

li:hover h3 {
    text-decoration: underline;
}

li:hover img {
    height: 110px;
    width: 140px
}