#root {
    width: 960px;
    font-size: 18px;
}

img {
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 15px;
}

body #root {
    background-color: #ccc;
}

.header {
    font-size: 1.6em;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.description {
    border: 2px solid #fff;
    background-color: rgba(122, 122, 122, 0.9);
}

.remark {
    text-align: center;
}

#root>p.description {
    border-radius: 15px;
    text-align: center;
    margin: 30px;
    padding: 30px;
}

.heroes-list {
    list-style-type: none;
}

h2 {
    font-size: 1.1em;
    text-align: center;
}

.heroes-list .hero-item {
    display: inline-block;
    width: 24%;
}

.heroes-list .hero-item .description {
    float: left;
    height: 230px;
    margin: 1px;
    position: relative;
    z-index: 9999;
    border-radius: 5px;
}

.heroes-list .hero-item img {
    position: relative;
    left: -40px;
    top: -80px;
    border-radius: 5px;
}