html,
body,
div,
li,
ul,
p,
img,
h2 {
    margin: 0;
    padding: 0;
}

#root {
    width: 720px;
    font-size: 18px;
    background-color: #ccc;
    margin-left: 30px;
}

body {
    margin-top: 5px;
}

.header {
    text-align: center;
    font-size: 1.6em;
    padding-top: 30px;
    padding-bottom: 10px;
}

img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    position: relative;
}

.description {
    border: 3px solid #fff;
    background-color: #7A7A7A;
}

#root>.description {
    margin: 0 40px;
    padding: 20px 40px;
    border-radius: 20px
}

.remark {
    text-align: center;
    margin: 30px 0;
}

.heroes-list {
    list-style-type: none;
}

h2 {
    font-size: 1.1em;
    text-align: right;
    text-decoration: underline;
}

.heroes-list .hero-item {
    display: inline-block;
    width: 45%;
}

.heroes-list .hero-item .description {
    float: left;
    height: 140px;
    margin: 1px;
    position: relative;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: justify;
    top: -90px;
    left: 20px;
    text-indent: 90px;
}

.heroes-list .hero-item img {
    position: relative;
    top: -10px;
    left: 10px;
    border-radius: 15px;
    z-index: 999;
}