html,
body,
div,
header,
h1,
h2,
nav,
article,
aside,
form,
ul,
li {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    width: 960px;
    margin: 0 5px;
    font-size: 14px;
    position: relative;
}

.clear {
    clear: both;
}

#wrapper header {
    background-image: url("images/header-bg.png");
    height: 97px;
    border-bottom: 5px solid #39C518;
}

#title {
    float: left;
    margin-left: 20px;
    color: #fff;
}

#nav {
    float: right;
}

#title h1 {
    color: #EEFFEE;
    font-size: 34px;
    margin-top: 20px;
}

#title h2 {
    color: #C0C0C0;
    font-size: 14px;
    margin-top: 5px;
    font-weight: normal;
}

#nav ul {
    list-style-type: none;
    margin-right: 28px;
    margin-top: 45px;
}

#nav ul li {
    float: left;
    font-size: 18px;
    margin-left: 20px;
    color: #CC6600;
    font-weight: bold;
}

#content {
    float: left;
    width: 760px;
}

#aside {
    width: 200px;
    float: right;
    font-weight: bold;
    padding-top: 20px;
    text-transform: uppercase;
    color: #59770E;
}

#content h1 {
    color: #59770E;
    font-size: 30px;
    margin-top: 25px;
}

#content article {
    color: #555555;
}

#aside input {
    width: 155px;
}