 table {
     border-collapse: collapse;
     width: 90%;
 }
 
 table,
 th,
 td {
     padding: 5px;
     border: solid 1px grey
 }
 
 .left {
     font-weight: bold;
     text-align: right;
 }
 
 .country {
     width: 50%;
 }
 
 .verticalline {
     padding: 0px;
     padding-left: 5px;
     border-left: solid 1px grey;
     float: right;
 }
 
 .bottom {
     background-color: lightcyan;
     text-align: center;
 }