body {
    margin: 30px;
}

input {
    color: navyblue;
    font-size: 2em;
    float: left;
    border: 3px solid lightskyblue;
    border-radius: 15px;
}

button {
    border: none;
    color: red;
    background-color: cornflowerblue;
    float: left;
    font-size: 2em;
    cursor: pointer;
}